.Comment {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.container{
  display: flex;
  list-style: none;
}

.page{
  font-size: 30px;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.page:hover {
  background: rgba(0, 0, 0, 0.44);
}

.disabled{
  cursor: not-allowed;

}

.active{
  border: 2px solid #000;
  font-weight: bold;
}

.previous{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.break{
  padding: 10px;
}

.next{
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}